* {
	box-sizing: border-box;
	margin:0;
	padding: 0;
}
body {
	width: 100%;

	}
h1 {
	text-align: center;
}

div {
	
	background-color: grey;
	width:30%;
	max-height: 100%;
	float: left;
	border: 2px solid black;
	padding: 0px;
	margin:20px;
	overflow: hidden;
	
	}

h2 {
	float:right;
	border: 1px solid black;
	margin-top: 0;
	padding: 10px;
	margin-right: 0;
	display: inline-block;

}

p {
	clear: right;
}

#h21 {
	background-color: #4286f4;
}

#h22 {
	background-color: #57af56;
}

#h23 {
	background-color: #4286f4;
} 

@media (min-width: 992px) , (max-width: 1375px) {
	
	div {
		width: 30%;
        margin-right:auto;
	}
}
 
@media (min-width: 768px) and (max-width: 991px){
	#d1 , #d2 {
		width: 40%;
		float: left;

	}

	#d3 {
		float: right;
		width: 100%;
	}
}

@media (max-width: 767px) {
	div {
		text-align: center;
		width: 95%;
		display: inline-block;
		


		
}



}